@model IEnumerable<Sss.BasicHomePage.Models.Poco.NavItem>



<nav class="navbar navbar-expand-lg main-navi">
    <a class="navbar-brand" href="/"><i class="fas fa-home fa-3x"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-3x"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @foreach (var navItem in Model)
            {
                if (navItem.Children.Any())
                {


                    <li class="nav-item dropdown">
                        <a class="nav-link" href="@navItem.Link.Href" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                            @navItem.Link.Text
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var child in navItem.Children)
                            {
                                <a class="dropdown-item" href="@child.Link.Href">@child.Link.Text</a>
                            }

                        </div>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@navItem.Link.Href">@navItem.Link.Text</a>
                    </li>
                }

            }
        </ul>
        @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
    </div>
</nav>